{% extends "base.html" %}

{% block content %}
  <!-- book section -->
  {% include "content/book_content.html" %}
  {# <section class="book_section">
    <div class="form_container">
      <form method="POST" action="{{ url_for('rent4u.search') }}" role="form">
        {{ form.csrf_token }}
        <div class="form-row">
          <div class="col-lg-8">
            <div class="form-row">
              <div class="col-md-6">
                <label for="parkingName">Pick Up Locaion</label>
                <input type="text" class="form-control" placeholder="acb ">
              </div>
              <div class="col-md-6">
                <label for="parkingNumber">Drop Location</label>
                <input type="text" class="form-control" placeholder="acb ">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="parkingName">Pick Up Date</label>
                <input type="date" class="form-control" value="2023-12-20">
              </div>
              <div class="col-md-6">
                <label for="parkingNumber">Return Date</label>
                <input type="date" class="form-control" value="2023-12-27">
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="btn-container">
              <button type="submit" class="">
                Search
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="img-box">
      <img src="{{ url_for('static', filename='images/book-car.png') }}" alt="">
    </div>
  </section> #}

  <!-- end book section -->

  {% include "content/car_content.html" %}
  {# <!-- car section -->

  <section class="car_section layout_padding2-top layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Better Way For Find Your Favourite Cars
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable
        </p>
      </div>
      <div class="car_container">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/c-1.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Choose Your Car
            </h5>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/c-2.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Get Your Car
            </h5>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/c-3.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Contact Your Dealer
            </h5>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end car section -->

  <!-- best section -->

  <section class="best_section">
    <div class="container">
      <div class="book_now">
        <div class="detail-box">
          <h2>
            Our Best Cars
          </h2>
          <p>
            It is a long established fact that a reader will be distracted by the
          </p>
        </div>
        <div class="btn-box">
          <a href="">
            Book Now
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end best section -->

  <!-- rent section -->
  <section class="rent_section layout_padding">
    <div class="container">
      <div class="rent_container">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-1.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-2.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-3.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-4.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-5.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/r-6.png') }}" alt="">
          </div>
          <div class="price">
            <a href="">
              Rent $200
            </a>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          See More
        </a>
      </div>
    </div>
  </section>
  <!-- end rent section --> #}

  <!-- about section -->

  {% include "content/about_content.html" %}

  <!-- end about section -->

  <!-- blog section -->
  {% include "content/blog_content.html" %}
  <!--
  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Latest Blog
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the
        </p>
      </div>
    </div>
    <div class="blog_container">
      <div class="layout_padding2-top">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="date-box">
                  <h6>
                    04 Nov 2019
                  </h6>
                </div>
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/b-1.jpg') }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Vintage
                  </h5>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable The point of using Lorem </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="date-box">
                  <h6>
                    04 Nov 2019
                  </h6>
                </div>
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/b-2.jpg') }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Steering wheels
                  </h5>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable The point of using Lorem </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="date-box">
                  <h6>
                    04 Nov 2019
                  </h6>
                </div>
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/b-3.jpg') }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Buick Car
                  </h5>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable The point of using Lorem </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="date-box">
                  <h6>
                    04 Nov 2019
                  </h6>
                </div>
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/b-2.jpg') }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Steering wheels
                  </h5>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable The point of using Lorem </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
  <!-- end blog section -->

  <!-- us section -->
  {% include "content/us_content.html" %}
  {# <section class="us_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Why choose Us
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the
        </p>
      </div>
    </div>
    <div class="us_container layout_padding2">
      <div class="content_box">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/u-1.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Low Rent
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/u-2.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Fast Car
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/u-3.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Safe Car
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/u-4.png') }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Quick Support
            </h5>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section> #}

  <!-- end us section -->

  <!-- client section -->
  {% include "content/client_content.html" %}
  {# <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What Do Customers Say?
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the
        </p>
      </div>
      <div class="layout_padding2-top">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/client-1.png') }}" alt="" class="img-1">
                    <img src="{{ url_for('static', filename='images/client-1-white.png') }}" alt="" class="img-2">
                  </div>
                  <div class="name">
                    <h6>
                      Established
                    </h6>
                    <p>
                      by the readable
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/client-2.png') }}" alt="" class="img-1">
                    <img src="{{ url_for('static', filename='images/client-2-white.png') }}" alt="" class="img-2">
                  </div>
                  <div class="name">
                    <h6>
                      Blished
                    </h6>
                    <p>
                      by the readable
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/client-1.png') }}" alt="" class="img-1">
                    <img src="{{ url_for('static', filename='images/client-1-white.png') }}" alt="" class="img-2">
                  </div>
                  <div class="name">
                    <h6>
                      Establi
                    </h6>
                    <p>
                      by the readable
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/client-1.png') }}" alt="" class="img-1">
                    <img src="{{ url_for('static', filename='images/client-1-white.png') }}" alt="" class="img-2">
                  </div>
                  <div class="name">
                    <h6>
                      Establi
                    </h6>
                    <p>
                      by the readable
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section> #}

  <!-- end client section -->

  <!-- contact section -->

  {% include "content/contact_content.html" %}

  <!-- end contact section -->

  <!-- map section -->

  {% include "content/map_content.html" %}
  <!-- end map section -->
  

{% endblock content %}
